.tab {
    display: none;
}

.tab-default {
    display: block;
}

.fullscreen-image {
    width: 90%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.center-image {
    display: block;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.container {
  display: flex;
}

.left-section {
  flex: 1;
  margin-left: 5%;
}

.right-section {
  flex: 1;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
