<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="static/javascript/reload.js"></script>
    <script src="static/javascript/select_grid.js"></script>
</head>
<body>
    <div class="background-container"></div>
    <h1 class="center-text">Supervision des entraînements</h1>
    <div class="container">
        <div class="left-section">
            <h2>Sélection du modèle</h2>
            <form method="POST" action="{{ url_for('display_static') }}" autocomplete="off">
            <select name="model" onchange="this.form.submit()">
                <option value="" {% if not model %}selected{% endif %}>Sélectionnez un modèle</option>
                {% for model_option in all_models %}
                    <option value="{{ model_option }}" {% if model == model_option %}selected{% endif %}>{{ model_option }}</option>
                {% endfor %}
            </select>
            <noscript><input type="submit" value="Afficher"></noscript>
            </form>
            <button onclick="location.href='/update'">Update</button>
        </div>
        <div class="right-section">
            <div>
                <h3>Notebooks actifs</h3>
                <p>{{ accounts }} / {{ notebooks }}</p>
            </div>
        </div>
    </div>
    <br>
    {% if model %}
        <div class="left-section">
            <h2>Supervision de {{ model }}</h2>
            <button onclick="showImage('gridsearch')">Grid Search</button>
            <button onclick="showImage('gridloss')">Grid Loss</button>
            <button onclick="showImage('gridaccu')">Grid Accu</button>
        </div>
        <div class="tab-default" id="gridsearch">
            <h3 class="center-text"> Avancement des entraînements </h3>
            <img src="{{ gridsearch }}" alt="Grid Search" class="center-image">
        </div>
        <div class="tab" id="gridloss">
            <h3 class="center-text"> Fonction de perte </h3>
            <img src="{{ gridloss }}" alt="Grid Loss" class="fullscreen-image">
        </div>
        <div class="tab" id="gridaccu">
            <h3 class="center-text"> Précision</h3>
            <img src="{{ gridaccu }}" alt="Grid Accu" class="fullscreen-image">
        </div>
    {% endif %}
</body>
</html>
